.dialog-wrapper {
    position: relative;
}

.dialog-wrapper .mat-mdc-dialog-actions.submit-btn-wrapper {
    justify-content: center;
    padding-top: 0;
    padding-bottom: 20px;
}

.dialog-wrapper .mat-mdc-dialog-actions.close-btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}


@media screen and (min-width: 768px) {

    .dialog-wrapper {
        width: 500px;
    }

    .dialog-wrapper .mat-mdc-dialog-content {
        width: 100%;
    }

    .dialog-wrapper .mat-mdc-dialog-content .mat-mdc-form-field {
        width: 100%;
    }
}